@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Lexend;
}

body, html{
    overflow-x: hidden;
    width:fit-content;
    height: fit-content;
    font-family: Lexend;
    background: black;
}
.webgl{

    top: 0;
    left: 0;
    right:0;
    height: 100%;
    margin: 0;
    bottom:0;
    z-index: -1;
    width:100%;
}
#card-sect{
 
    justify-content: space-between;
     top: 70%;
    text-align: center;
}
#card-group{
    display: flex;
   
  justify-content: space-evenly;
             
}
#why{
    margin-bottom: 10px;
}
.card{
    
            border-radius: 7px;
            padding: 50px;
            margin: 7px;
            border-color: aqua;
            border-style: groove;
            border-width: 1px;
            color:grey;
            width: 100%;
        
}
 a{
    text-decoration: none;
    color: white;
 }

 #title{
   margin-left: 17px;
 
 }
 #exchange{
    border-radius: 17px;
    background-color: RGB(0, 131, 208);
    padding:7px;
    height:30px;
    margin-left:80px;
    margin-right: 17px;
    color: white;
    margin-top: 10px;
    border-style: none;
 }
 #Join{
    border-radius: 17px;
    background-color: RGB(0, 131, 208);
    padding:7px;
    height:70px;
   
    font-size: 30px;
    width: 200px;
    color: white;
    margin-top: 10px;
    border-style: none;
 }
 h2{
    color:'white';
 }
nav{
    z-index:0;
    top:0;
    backdrop-filter: blur(500px);
    position: absolute;
    width:100%;

}
ul{
    list-style: none;
    color:white; background: rgb(15,15,15);
    height:50px;
    justify-content: space-between;
    display: flex;  position: absolute;
    width:100%;
}
article{
    position: absolute;
    top:200px;
    color:white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:100px;
    width: 100%;
}
li{
    margin: 70px;
    margin-top:17px;
  }
  .parag{
    margin: 7px;
  }
.title{
    color: white;
}