@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Lexend;
}

body, html{
     
    width:100%;
    height: 100%;
    font-family: Lexend;
    background: black;
}
.webgl{
    right:0;
     
    zoom:100%;
    
     
}
#card-sect{
    width: 60%;
    margin: auto;
    justify-content: center;
}
#team{
   
    margin: 40px;
    text-align: center;
}
#show{
display: inline-flex;

background: none;
}
#card-group{
    display: flex;
     justify-content: space-around;
   margin: auto;
    
  
             
}
#why{
    margin: 40px;
    text-align: center;
}
.card{
    
            border-radius: 7px;
            
            text-align: center;
            border-color: RGB(0, 131, 208);
            border-style: groove;
            border-width: 1px;
            color:grey;
            width: 200px;
        
}
 a{
    text-decoration: none;
    color: white;
 }
p{
    color: grey;
     
}
 #title{
   left: 0;
 
 }
 #exchange{
    border-radius: 17px;
    background-color: white;
    padding:7px;
    height:30px;
    margin-left: 15%;
    color: black;
    margin-top: 6px;
    border-style: none;
 }
 #Join{
    border-radius: 10px;
    background-color: RGB(0, 131, 208);
    padding:10px;
    height:50px;
    font-size: 30px;
    width: fit-content;
    color: white;
    border-style: none;
 }
 h2{
    color:'white';
 }
 h5{
    font-size: small;
 }
nav{
    z-index:2;
    top:0;
    right: 0;
    left: 0;
    backdrop-filter: blur(500px);
    position: absolute;
    width:100%;

}
ul{
    list-style: none;
    color:white; background: rgb(15,15,15);
    height:50px;
      
    display: flex; 
    
}
article{
    /* position: relative; */
     /* top:150px;   */
    color:white;
    margin-top: 10%;  
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:70px;
    background: none;
    /* width: 100%; */
}
li{
  
    margin-top:10px;
  }
  .navig1{
    margin-left: 40%;
  }
  .navig{
    margin-left: 7%;
  }
  .parag{
    margin: 7px;
    padding: 10px;
    font-size: smaller;
  }
.title{
    color: white;
}

.footer {
    top: 100%;
    width: 100%;
    bottom: 0;
    color: rgb(223, 206, 206);
      font-size: smaller;
    display: flex;
    /* background: rgb(33,33,33); */
  }
  ol{
      text-decoration: none;
      list-style: none;
      margin: 40px;
      background: linear-gradient( rgb(0 0 0 / 1.0), rgb(0 0 0 / 0));
      
  }
  